* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/sheriff-2');


html,
body {
    font-family: 'TheSerif', sans-serif;
    /* align-items: center; */
    text-align: center;
    /* max-width: 100%; */
    overflow-x: hidden;


}


.flex-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    overflow: hidden;
    max-width: 100%;
    background-color: white;
    align-items: center;
    padding: 5px 0px 0px 0px;
    width: 100%;
    height: 70px;
    z-index: 10;

}




.palm-logo {
    width: 132px;
    height: 32px;
    max-width: 100%;
}

ul {
    display: flex;
    gap: 50px;
    font-size: 16px;
    list-style: none;

}



.nav-links a {
    text-decoration: none;
    color: black;
}


.flex-items2 {
    display: flex;
    align-items: center;
}


.nav-btn {
    border: none;
    border-radius: 15px;
    width: 74px;
    height: 35px;
    color: white;
    background-color: #6d46db;
}



.ng-drop{
    position: relative;
    left: 50px;
    top: 2px;
}

.arrow-down{
    position: relative;
    left: 125px;
    top: 2px;
}

#countries-select {
    appearance: none;
    font-size: 14px;
    border: none;
    width: 145px;
    border-radius: 25px;
    height: 35px;
    text-align: left;
    background-color: #f7f7fb;
    padding: 4px 0px 4px 40px;
}







#countries-select-sm {
    display: none;
    appearance: none;
    border: none;
    width: 60px;
    margin-right: 5px;
    border-radius: 25px;
    height: 35px;
    text-align: left;
    background-color: #f7f7fb;
    padding: 4px 0px 4px 40px;
}


.ng-drop-sm{
    display: none;
    position: relative;
    left: 48px;
    top: 2px;
}

.arrow-up-sm{
    display: none;
    position: relative;
    left: 52px;
    top: px;
}


.ham {
    display: none;
}






.hero-section {
    text-align: center;
    margin-top: 40px;
}

.hero-section img {
    margin-top: 100px;
    width: 1130px;
    height: 192px;
    /* max-width: 100%; */

}

.sm-img{
    display: none;
}

.hero-section p {
    margin-top: 50px;
    text-align: center;
    align-items: center;
    font-size: 24px;
    padding: 0px 380px 0px 400px;
}


#get-app {
    display: flex;
    margin-left: 800px;
    margin-top: 60px;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#google {
    /* margin-left: 30px; */
    width: 157px;
    height: 48px;
}

#app {
    width: 157px;
    height: 48px;
}

.text {
    font-size: 16px;
    margin-left: 730px;
    margin-top: 40px;
    display: flex;
    gap: 38px;
    text-align: center;
    align-items: center;
    color: #868692;
}

.text p img {
    position: relative;
    top: 7px;
}





#about {
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 350px;
    background-color: black;
    background-size: cover;
    height: 230vh;
    width: 100%;
}


.about-img-sm{
    display: none;
}



.about-img {
    position: relative;
    bottom: 300px;
    width: 1140px;
    height: 587px;
}



.about-content1 h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 52px;
    color: #d0aefa;
}


.about-content1 p {
    margin-top: 25px;
    font-size: 20px;
    /* text-align: center;
    align-items: center; */
    color: white;

    padding: 0px 370px 0px 360px;
}

.content1-img-sm{
    display: none;
}


.content1-img-lg{
    width: 1140px;
    height: 454px;
}






.about-content2 h2 {
    margin-top: 180px;
    font-size: 52px;
    color: #ffec9f !important;
}

.about-content2 p {
    margin-top: 25px;
    font-size: 20px;
    /* text-align: center;
    align-items: center; */
    color: white;
    padding: 0px 390px 0px 380px;
}

.content2-img-sm{
    display: none;

}

.content2-img-lg{
    width: 1140px;
    height: 454px;
}


.sec-con{
    margin-bottom: 1500px;
}


.security {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    height: 75vh;
    padding-bottom: 0px;
    /* border: 4px solid red; */

}



.security img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 520px;
    height: 500px;
}

.content-text {
    background-color: #f7f7fb;
    width: 650px;
    height: 500px;
    padding-left: 50px;
    text-align: justify;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.content-text h1 {
    margin-top: 90px;
    padding: 0px 100px 0px 4px;
    font-size: 40px;
    line-height: 1.5;
    word-spacing: -1px;
}


.content-text p {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    padding: 0px 70px 0px 7px;
}





.security-sm {
    display: none;
    margin-top: 150px;

}



.security-sm img {
    display: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.content-text-sm {
    display: none;
    background-color: #f7f7fb;
    padding: 6px 0px 0px 20px;
    text-align: justify;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.content-text-sm h1 {
    display: none;
    margin-top: 30px;
    font-size: 24px;
    line-height: 1.5;
    word-spacing: -1px;
}


.content-text-sm p {
    display: none;
    margin-top: 20px;
    font-size: 14px;
    padding: 0px 8px 0px 0px;
    line-height: 1.6;
    text-align: left;
}








.contact {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 75vh;
    position: relative;
    bottom: 60px;
}



.content-text2 {
    padding-left: 55px;
    text-align: justify;
}

.content-text2 h1 {
    margin-top: 100px;
    font-size: 40px;
}


.content-text2 p {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.45;
    text-align: left;
    padding: 0px 70px 0px 7px;
}

#pii {
    margin-bottom: 6px;
}

#piii {
    margin-top: 4px;
}

#contact-btn {
    font-size: 16px;
    margin-top: 25px;
    border: none;
    border-radius: 15px;
    width: 119px;
    height: 48px;
    color: white;
    background-color: #6d46db;
}

.content-text2 {
    margin-bottom: 100px;
    background-color: #f7f7fb;
    width: 650px;
    height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.contact-img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}



/* On small devices */

.contact-sm {
    display: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 75vh;
    position: relative;
    bottom: 60px;
}

.contact-img-sm {
    display: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.content-text2-sm {
    display: none;
    padding-left: 55px;
    text-align: justify;
}

.content-text2-sm h1 {
    display: none;
}


.content-text2-sm p {
    display: none;
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.45;
    text-align: left;
    padding: 0px 70px 0px 7px;
}

#pii-sm {
    display: none;
    margin-bottom: 6px;
}

#piii-sm {
    display: none;
    margin-top: 4px;
}

#contact-btn-sm {
    display: none;
    font-size: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    width: 105px;
    height: 38px;
    color: white;
    background-color: #6d46db;
}

.content-text2-sm {
    margin-bottom: 100px;
    background-color: #f7f7fb;
    width: 650px;
    height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}








.user-img-lg {
    position: relative;
    top: 65px;
}

.user-img-sm{
    display: none;
}


.users-app {
    display: none;
    display: flex;
    margin-left: 800px;
    margin-top: 60px;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: relative;
    bottom: 30px;
}

.google-app {
    display: none;
    /* margin-left: 30px; */
    width: 120px;
    height: 48px;
}

.apple {
    display: none;
    width: 157px;
    height: 48px;
}





footer {
    background-color: black;
    display: flex;
    height: 55vh;
    padding: 70px 330px;
    gap: 120px;

}



.li-img {
    list-style: none;
    margin-top: 15px;
    margin-left: 50px;
}

.copy {
    position: relative;
    font-size: 14px;
    color: white;
    left: 50px;
    top: 100px;
}

.pp {
    text-align: justify;
    color: white;
    font-size: 20px;
    margin-bottom: 25px;

}

.personal-texts {
    font-size: 14px;
    margin-top: 15px;
    text-align: justify;
    list-style: none;
    color: white !important;
}



.socials {
    position: relative;
    text-decoration: none;
    color: white;
    top: 180px;
    margin-right: 10px;
}

.footer-text {
    background-color: black;
    height: 15vh;
    border-top: 1px solid #626262;
    padding: 25px 395px 0px 380px;
}

.footer-text p {
    font-size: 14px;
    color: #626262;
    line-height: 1.5;
    text-align: justify;
    /* padding-right: 5px; */
}


/* Responsiveness */

@media screen and (max-width: 850px) {
    ul {
        display: none;

    }

    

    .nav-btn {
        display: none;
    }

    .ng-drop{
        display: none;
        
    }
    
    .arrow-down{
        display: none;
        
    }

    #countries-select {
        display: none;
    }

    #countries-select-sm {
        display: block;
        appearance: none;
        border: none;
        width: 55px;
        border-radius: 25px;
        height: 35px;
        background-color: #f7f7fb;
        
    }
    
    
    .ng-drop-sm{
        position: relative;
        display: block;
        top: 0;
        left: 50px;
    
    }
    
    .arrow-up-sm{
        position: relative;

        display: block;
    
    }
    .ham {
        display: block;
    }


    .hero-section img {
        margin-top: 70px;
        width: 360px;
        height: 70px;
    }
    
    .hero-section p {
        margin-top: 40px;
        text-align: center;
        align-items: center;
        font-size: 14px;
        padding: 0px 8px 0px 13px;
    }


    #get-app {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 30px;
        align-items: center;
        gap: 14px;
    }
    
    #google {
        width: 100px;
        height: 30px;
    }
    
    #app {
        width: 100px;
        height: 30px;
    }
    
    .text {
        font-size: 11px;
        margin-left: 25px;
        margin-top: 15px;
        display: flex;
        gap: 10px;
        text-align: center;
        align-items: center;
        color: #868692;
    }

    .text p{
        height: 25px;
    }




    #about {
        text-align: center;
        align-items: center;
        position: relative;
        margin-top: 275px;
        background-color: black;
        background-size: cover;
        height: 203vh;
        width: 100%;
    }
    
    
    .about-img {
        display: none;
        
        /* height: 100vh; */
    }
    .about-img-sm{
        display: block;
        max-width: 100%;
        position: relative;
        bottom: 200px;
        margin-left: 5px;
        /* border: 3px solid red; */
        
    }

    .about-content1 h1 {
        text-align: center;
        position: relative;
        bottom: 130px;
        font-size: 24px;
        color: #d0aefa;
    }
    
    
    .about-content1 p {
        position: relative;
        bottom: 140px;
        font-size: 14px;
        padding: 0px 21px 0px 13px;
    }

    
    .content1-img-lg{
        display: none;
    }

    .content1-img-sm{
        display: block;
        max-width: 100%;
        position: relative;
        right: 1px;
        bottom: 180px;

    }
    


    .about-content2 h2 {
        text-align: center;
        position: relative;
        bottom: 230px;
        font-size: 24px;
        padding: 0px 25px 0px 5px;
        color: #ffec9f !important;
        /* border: 4px solid red; */
    }
    
    .about-content2 p {
        position: relative;
        bottom: 235px;
        font-size: 14px;
        padding: 0px 21px 0px 13px;
    }
    .content2-img-sm{
        display: block;
        max-width: 100%;
        position: relative;
        bottom: 255px;

    }

    .content2-img-lg{
        display: none;
    }


    .sec-con{
        margin-bottom: 770px;
    }
    .security {
        display: none;
    
    }

    .security-sm {
        display: block;
        margin-top: 80px;
        height: 45vh;
        padding-bottom: 0px;
    
    }
    
    
    
    .security-sm img {
        display: block;
        margin-left: 17px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        width: 355px;
        height: 400px;
    }
    
    .content-text-sm {
        display: block;
        margin-left: 17px;
        width: 355px;
        height: 300px;
        position: relative;
        bottom: 80px;
        padding-left: 10px 5px 0px 0px;
        text-align: left;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
    }
    
    
    .content-text-sm h1 {
        display: block;
        
    }
    
    
    .content-text-sm p {
        display: block;
    }
    



    .contact {
        display: none;
        
    }



    .content-text2 {
        display: none;
    }
    
    .content-text2 h1 {
        display: none;

    }
    
    
    .content-text2 p {
        display: none;

    }
    
    #pii {
        display: none;
    }
    
    #piii {
        display: none;
    }
    
    #contact-btn {
        display: none;

    }
    
    .content-text2 {
        display: none;

    
    }
    
    .contact-img {
        display: none;

    
    }


    .contact-sm {
        display: block;
        margin-top: 10px;
        height: 45vh;
        position: relative;
        top: 350px;
        /* margin-bottom: 0px; */
    }
    
    .contact-img-sm {
        display: block;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
        margin-left: 18px;
        width: 355px;
        height: 400px;
        position: relative;
        bottom: 20px;
    
    }
    
    .content-text2-sm {
        display: block;
        padding: 10px 5px 0px 20px;
        text-align: justify;
        width: 355px;
        height: 300px;
        margin-left: 18px;
        position: relative;
        bottom: 30px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;

    }
    
    .content-text2-sm h1 {
        display: block;
        margin-top: 25px;
        font-size: 24px;
        padding: 0px 10px 0px 0px;

    }
    
    
    .content-text2-sm p {
        display: block;
        margin-top: 20px;
        font-size: 14px;
        line-height: 1.45;
        text-align: left;
        padding: 0px 3px 0px 2px;
    }
    
    #pii-sm {
        display: block;
        margin-bottom: 3px;
    }
    
    #piii-sm {
        display: block;
        margin-top: 2px;
    }
    
    #contact-btn-sm {
        display: block;
    }
    
    .content-text2-sm {
        display: block;
    }

    .user-img-lg{
        display: none;
    }
    .user-img-sm{
        display: block;
        max-width: 100%;
    }

    .users-app {
        display: none;
        display: flex;
        margin-left: 800px;
        margin-top: 60px;
        align-items: center;
        text-align: center;
        gap: 20px;
        position: relative;
        bottom: 30px;
    }
    
    .google-app {
        display: none;
        /* margin-left: 30px; */
        width: 120px;
        height: 48px;
    }
    
    .apple {
        display: none;
        width: 157px;
        height: 48px;
    }
}